.input {
  --control-width: var(--input-control-width, 100%);

  flex: 1;
  width: var(--control-width);
  height: var(--control-height);
  border-radius: 4px;
  padding: calc(var(--space-small) - 2px) calc(var(--space-base) - 2px);
  border: none;
  box-sizing: border-box;
  background: var(--color-background-field);
  color: var(--color-text-primary);
  font-size: var(--font-base);
  line-height: 24px;
  outline: none;
  caret-color: var(--color-text-primary);

  &:focus {
    outline: rgba(22, 24, 35, 0.2) solid 1.5px;
  }
}
