.progress {
  margin-block-start: 40px;
  padding-block-start: 40px;
  border-block-start: 1px solid var(--color-border);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back,
.next {
  cursor: pointer;
}

.next {
  margin-inline-start: auto;
}

.disabled {
  cursor: not-allowed;
}
