.loader {
  --spinner-size: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(#000, 0);
  transition: background 0.3s ease-in-out;
}

.visible {
  background: rgba(#000, 0.3);
}

.view {
  flex: 0 0 240px;
  padding: var(--space-big);
  border-radius: 8px;
  background: var(--color-background);
  text-align: center;
  color: var(--color-text-secondary);
  transform: scale(0);

  .visible & {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
}

.spinner {
  margin-inline: auto;
}

.title {
  margin: 16px 0 0;
  padding: 0;
  font-size: var(--font-base);
  font-weight: var(--font-bold);
}
