:root {
  --font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

  --font-micro: 10px;
  --font-tiny: 12px;
  --font-small: 14px;
  --font-base: 16px;
  --font-big: 18px;
  --font-bigger: 22px;
  --font-large: 26px;
  --font-title: 32px;

  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}
