:root {
  --space-tiny: 4px;
  --space-small: 8px;
  --space-base: 16px;
  --space-big: 24px;
  --space-large: 32px;

  --size-control-small: 24px;
  --size-control-base: 32px;
  --size-control-big: 48px;

  --size-icon-small: 16px;
  --size-icon-base: 24px;
  --size-icon-big: 32px;

  --device-min-size: 360px;
}
